{% extends "base.html" %}
{% block title %}Terms of use{% endblock %}
{% block head %}
<style type="text/css">
#bannerimage {
	display:none;
}
ol li {
	margin-bottom:10px;
}
</style>
{% endblock %}
{% block content %}
<div style="padding-bottom:600px;">
<h1>Terms of use</h1>
<ol>
<li>By submitting information to fixmyschool.net, you relinquish all rights to that information and it becomes the property of fixmyschool.net.</li>
<li>Information sent to fixmyschool.net may be reproduced and used for commercial purposes at any time, in any form and in any location fixmyschool.net sees fit without compensation or notification being provided to the original contributor.</li> 
<li>Once received, information sent to fixmyschool.net cannot be retracted or edited by the original contributor.</li>
</ol>
Please <a href="/contact/" class="red">contact us</a> if you have any questions or concerns about this policy.
</div>
{% endblock %}
